@model LeaveManagement.Common.Models.AdminLeaveRequestViewVM

@*@model AdminLeaveRequestViewVM*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class = "row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@Model.TotalRequests</h5>
        <p class="card-text text-info">@Html.DisplayNameFor(model => model.TotalRequests)</p>
      </div>
    </div>
    </div>
    <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@Model.ApprovedRequest</h5>
        <p class="card-text text-success">@Html.DisplayNameFor(model => model.ApprovedRequest)</p>
      </div>
    </div>
    </div>
    <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@Model.PendingRequest</h5>
        <p class="card-text text-warning">@Html.DisplayNameFor(model => model.PendingRequest)</p>
      </div>
    </div>
    </div>
    <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@Model.RejectedRequest</h5>
        <p class="card-text text-danger">@Html.DisplayNameFor(model => model.RejectedRequest)</p>
      </div>
    </div>
    </div>
</div>

<hr />
<h1>Admin Leave Request View</h1>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveRequests) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                    @if (item.Cancelled)
                    {
                        <span class = "badge bg-secondary">Cancelled</span>
                    }
                    else if (item.Approved == true)
                    {
                        <span class = "badge bg-success">Approved</span>
                    }
                    else if (item.Approved==false)
                    {
                        <span class = "badge bg-danger">Rejected</span>
                    }
                    else
                    {
                        <span class = "badge bg-warning">Pending</span>
                    }
            </td>
            
            
            <td>
                    @if(item.Cancelled == false)
                    {
                       <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Review</a>

                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
